<%= link_to "back to home", movies_path %>

<h1>Movies#edit</h1>
<p>Find me in app/views/movies/edit.html.erb</p>

<b>Editing:</b> <%= @sdmovie.title %> <br>


<%= render partial: "forms", locals: {zone: @sdmovie} %>






